@import url("https://fonts.google.com/specimen/Syne+Tactile?category=Display&subset=latin-ext&preview.text=KAI&preview.text_type=custom#standard-styles");

*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 13pt;
    box-sizing: border-box;
}

:root{
    --colour-primary: #383434;
    --colour-secondary: #E2E2E2; 
    --colour-detail: #3E92CC;
}


header{
    display: grid;
    grid-template-areas: 
    "h-left none h-right";
    grid-template-rows: 100%;
    grid-template-columns: 15vw 70vw 15vw;
    width: 100%;
    height: 70px;
    background-color: var(--colour-primary);
}

.h-left{
    grid-area: h-left;
    background-color: red;
}

.bx-palette{
    color: var(--colour-detail);
    font-size: 50pt;
}

.title{
    font-family: 'Syne Tactile' sans-serif;
}

.h-right{
    grid-area: h-right;
    background-color: cyan;
}


main{
    background-color: lightcoral;
}



footer{
    height: 150px;
    background-color: var(--colour-primary);
}
